<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <link th:href="@{/stylesheet/booking.css}" rel="stylesheet"/>
    <title>Bookings</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container" id="navi-container">
    <a class="navbar-brand" href="/">Booking App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbar">
        <div class="navbar-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home<span class="sr-only">(current)</span></a></li>

                <li class="nav-item"><a class="nav-link disabled" href="#">Car rentals</a></li>
                <li th:if="${isUserLogged}" class="nav-item active"><a class="nav-link" th:href="@{/booking}">Your Bookings</a></li>
            </ul>
        </div>

        <div class="navbar-nav">
            <ul class="navbar-nav mr-auto">
                <li th:if="${isUserLogged}" class="nav-item"><a href="/booking/add" class="btn btn-large btn-warning">New booking</a></li>
                <li th:if="${isAuthorizedUserAdmin}" class="nav-item"><a class="nav-link" th:href="@{/room}">Rooms</a></li>
                <li th:if="${isAuthorizedUserAdmin}" class="nav-item"><a class="nav-link" th:href="@{/user}">Users</a></li>
                <li th:if="${!isUserLogged}" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                <li th:if="${isUserLogged}" class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
                <li th:if="${isUserLogged}" class="nav-item"><a class="navbar-brand">Hello&nbsp;<span>[[${#request.remoteUser}]]</span></a></li>
            </ul>

        </div>
    </div>
    </div>
</nav>

<div class="container">
<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Adults</th>
                <th scope="col">Children</th>
                <th scope="col">Check-in</th>
                <th scope="col">Check-out</th>
                <th scope="col">All inclusive</th>
                <th scope="col">Room class</th>
                <th scope="col">Room number</th>
                <th scope="col">Total price</th>
                <th scope="col">Selected room</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${bookingList}">
                <td><a th:href="@{/booking/__${booking.id}__}" th:text="${booking.id}"></a></td>
                <td th:text="${booking.adults}"></td>
                <td th:text="${booking.children}"></td>
                <td th:text="${booking.checkIn}"></td>
                <td th:text="${booking.checkOut}"></td>
                <td th:text="${booking.allInclusive}"></td>
                <td th:text="${booking.roomClass}"></td>
                <td th:text="${booking.generateRoomNumber()}"></td>
                <td th:text="${booking.getPrice()}"></td>
                <td th:if="${booking.roomClass.equals(1)}"><img class="img" src="http://pix6.agoda.net/hotelImages/156/1568863/1568863_16112204160048957205.jpg?s=160x120" alt=""></td>
                <td th:if="${booking.roomClass.equals(2)}"><img class="img" src="http://pix6.agoda.net/hotelImages/5251874/77684153/a25bf6fcf724ec8eb98353fa5dc5d47a.jpg?s=160x120" alt=""></td>
                <td th:if="${booking.roomClass.equals(3)}"><img class="img" src="http://pix6.agoda.net/hotelImages/5251874/77684101/38f80eb0f3f47d3a806872cd022e40f4.jpg?s=160x120" alt=""></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>
