.jumbotron {
    margin: 20px;
    opacity: 0.9;
}

.bg-light {
    background-color: #007bff;
}

.navbar {
    background-color: #007bff;
    margin-bottom: 50px;
}

/*.img-thumbnail {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    width: 50%;*/
/*}*/

html, body {
    background-image: url('https://castelnou.be/swfiles/body/header-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.navbar-nav {
    margin: 20px;
    font-size: x-large;
}

.card {
    opacity: 0.9;
}

