.jumbotron {
    margin: 20px;
    opacity: 0.9;
}

.bg-light {
    background-color: #007bff;
}

.navbar {
    background-color: #007bff;
    margin-bottom: 50px;
}

body {
    background-image: url('https://castelnou.be/swfiles/body/header-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/*.navbar-nav {*/
/*    margin: 10px;*/
/*    font-size: large;*/
/*}*/

.card {
    opacity: 0.9;
}

/*div button {*/
/*    margin-left: 15px;*/
/*}*/

/*#addHotelButton {*/
/*    margin-left: 15px;*/
/*}*/

#listing {
    margin-top: 50px;
}

.fa {
    color: gold;
}

.row {
    /*margin-left: 0px !important;*/
    /*margin-right: 0px !important;*/
}

.fab {
    color: white;
}
